.jobDescription {
    font-style: italic;
    font-size: 0.8em;
}
  
.job {
    background-color: lightblue;
    padding: 10px;
    border-bottom: 2px solid navy;
}

.jobSection {
    background-color: lightcyan;
    margin: 10px;
}

#resource-info {
    float: left;
    width: 45%;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}

#game-info {
    float: right;
    width: 45%;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}

.float-clear {
    clear: left;
    clear: right;
    padding-top: 10px;
}

#game-board {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}